---
layout: splash
author_profile: true
excerpt: "Isotope Microscope @ Hokkaido University"
header:
  overlay_image: /assets/images/SIMS.jpg
  caption: "同位体顕微鏡"
  actions:
    - label: "Naoya Sakamoto"
      url: "http://vigarano.ep.sci.hokudai.ac.jp/naoya/"
feature_row:
  - image_path: /assets/images/gallery-image-1.jpg
    alt: "SCAPS像"
    title: "同位体顕微鏡とは?"
    excerpt: "同位体顕微鏡の初歩(何ができるか、どんな試料は分析できるか)を説明します。"
    url: "/introduction/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/gallery-image-2.jpg
    alt: ""
    title: "データ分析のコツ"
    excerpt: "ImageJを用いたSCAPSデータ解析のコツや注意点を紹介しています。"
    url: "/analysis/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/gallery-image-3.jpg
    title: "装置マニュアル"
    excerpt: "装置の使い方を紹介しています。"
    url: "/manuals/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/news.jpg
    alt: "placeholder image 2"
    title: "アーカイブ"
    excerpt: 'これまでのリソースを更新しています。'
    url: "/year-archive/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
- image_path: /assets/images/ImsVIEW.png
  alt: "ImsVIEW"
  title: "ツールのダウンロード"
  excerpt: '開発・配布している関係ツールのダウンロードができます。'
  url: "/download/"
  btn_label: "Download"
  btn_class: "btn--primary"
---
北海道大学 同位体顕微鏡システムについて、背景知識の説明、装置のマニュアル、データの解析方法を紹介しています。<br>
<h4>What's new</h4>
- 2022/02/xx （８月より延期：ルスツ予定）元素分配の研究に関するセミナーを開催します。<br>
<a href="https://isotopemicroscope.github.io/novel-2021s-01/">
  第１回ノーベルセミナー
</a>
<br>
<br>
- 2021/12/16-17 第19回ABiS電子顕微鏡トレーニング（同位体顕微鏡）が開催されました。<br>
<a href="http://microscopy.or.jp/20211122-2/">
   VCT-Linkワークショップ in 北大【凍結試料の調製から同位体顕微鏡による観察へ】
</a>
<br>
<br>
- 2021/11/26 創発的研究支援事業に採択されました。<br>
<a href="https://www.jst.go.jp/souhatsu/call/sel21.html">
  「クライオ同位体顕微鏡による太陽系水進化の解明」坂本直哉
</a>
<br>
<br>
- 2021/06/02 日本語解説記事が日立ハイテク技術機関誌 SINEWS に公開されました。<br>
<a href="https://www.hitachi-hightech.com/jp/sinews/reports/6220211/">
  同位体顕微鏡で探る太陽系, 坂本直哉, 日立ハイテクSINEWS
</a>
<br>
<br>
- 2021/05/11 田川翔さんの論文が Nature Communications に出版されました。<br>
<a href="https://doi.org/10.1038/s41467-021-22035-0">
  Tagawa, S., Sakamoto, N., Hirose, K. et al. Experimental evidence for hydrogen incorporation into Earth’s core. Nat Commun 12, 2588 (2021). 
</a>
<br>
<br>
  <hr>
  

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}
